.nonExistentRoute {
    text-align:center;
  }

.botones-paginacion button {
    background-color: #B2967D;
    padding: 10px 0px;
    margin: 10px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-decoration-line: none;
    &:hover {
      background-color: #c89f7abd;
      color: #ffffff;
    }
  }